@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*::selection {
    background: #13b111;
    color: #1dd31d;
}

body {
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #021302;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #13b111;
}

.home {
    height: 100vh;
    background-image: linear-gradient(to right, #021302 35%, transparent 80%), linear-gradient(to bottom, #021302 5%, transparent 100%), linear-gradient(to top, #021302 5%, transparent 100%), url('images/life.gif');
    background-position: center; /* Center the background image */
    background-size: cover; /* Cover the entire area of the element */
    background-repeat: no-repeat; /* Do not repeat the background image */
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
    z-index: 101;
}

.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #021302;
    animation: showRight 5s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: transparent;
    background-image: linear-gradient(#13b111, #13b111);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -600px 0;
    animation: animateText 6s linear infinite;
}

@keyframes animateText {
    0%, 95%, 100% {
        background-position: -600px 0;
    }
    65%, 85% {
        background-position: 0 0;
    }
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #021302;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #021302;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #021302;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #13b111;
    border: 2px solid #13b111;
    border-radius: 8px;
    font-size: 19px;
    color: #021302;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #13b111;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #13b111;
}

.btn-box a:nth-child(2):hover {
    color: #021302;
}

.btn-box a:nth-child(2)::before {
    background: #13b111;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #021302;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 250px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #021302;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #13b111;
    border-radius: 50%;
    font-size: 20px;
    color: #13b111;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: #021302;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #13b111;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.home-imgHover {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: manipActiveHover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
}

.home-imgHover:hover {
    background: #021302;
    opacity: .8;
}

.home-imgHover::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 135%;
    height: 100%;
    background: #021302;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: #021302;
    padding-bottom: 8rem;
}

.heading{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span {
    color:#13b111
}
.about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: bobble 2s ease-in-out infinite;
}

.about-img img {
    width: auto;
    height: 100%;
    border-radius: 50%;
    border: .02rem solid #021302;
}

.about-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid white;
    border-bottom: .2rem solid white;
    border-left: .2rem solid #13b111;
    border-right: .2rem solid #13b111;
}

@keyframes bobble {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.about-content {
    text-align: center;
    max-width: 1500px;
    z-index: 101;
    columns: 2; /* This will create two columns */
    column-gap: 40px; /* This sets the gap between the columns */
}

.about-content h3 {
    font-size: 2.6rem;
    padding-bottom: 2rem;
    column-span: all; /* This ensures headers span across all columns */
}

.about-content h4 {
    font-size: 2rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.btn-box.btns {
    display: block;
    width: auto; /* Adjust width as needed, or use 'auto' to fit content */
    margin: 0 auto;
    padding: 1rem 2rem; /* Increase padding for a larger button */
    font-size: 1.2rem; /* Increase font size for better readability */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the button */
    border: none; /* Optional: Removes the border if there is one */
    border-radius: 5px; /* Optional: Adds rounded corners to the button */
    transition: background-color 0.3s ease; /* Optional: Adds a transition effect for the button hover */
}

.btn-box.btns a::before{
    background: #021302;
}
/* KEYFRAMES ANIMATION */
@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes manipActiveHover {
    100% {
        pointer-events: auto;
    }
}